.container-navbar {
  /*width: 100%;*/
  /*max-width: 100%;*/
}

.app-img {
  height: 80vh;
}

.app-bg-dark {
  background-color: aliceblue;
}

.light, .navbar-light{
  background-color: aliceblue;
  color: navy;
}
